/* Fuente a usar: verdana o helvetica */
body{
    font-family: 'helvetica', 'sans-serif';
}

.contenido{
    
}

#presentacion{
    background-color: darkblue;
    color: rgb(242, 237, 237);
    width: 100%;
    height: 100%;
}

#parrafo-1{
    text-align: center;
    width: 40%;
    margin: auto;

}