/* Fuente a usar: verdana o helvetica */
body{
    font-family: 'helvetica', 'sans-serif';
}

#presentacion{
    background-color: darkblue;
    min-height: 100%;
    min-width: 100%;
    color: rgb(242, 237, 237);
}

#parrafo-1{
    text-align: center;

}